/* reset css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryRed: #e7242d;
  --secondaryRed: #fc5f6a;
  --darkBrown: #3c3229;
  --grayBrown: #6a5c54;
  --darkModeBg: #181616;
  --darkModeRed: #c41d25;
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
}

body {
  background-color: white;
  color: var(--darkBrown);
  transition: 0.5s linear;
}

/* dark mode css */
/* body.dark {
} */

.darkmode {
  background-color: var(--darkModeBg);
  color: white;
}
