/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

div.introduction{
    width: 70%;
    margin: auto;
}

div.introduction__title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

div.introduction__title img{
    width: 542.66px;
    height: 273px;
}

.introduction__line{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--darkBrown);
}
.introduction__line #camera{
    position: relative;
    top: 25px;
    background-color: white;
    padding: 0 56px;
}


/* hết img header */

.big_block{
    margin-top: 65px;
}
.big_block .block_title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-left: 25px;
}

.block{
    display: flex;
    flex-direction: row;
}
.slide-wrapper {
    width: 445px;
    height: 304px;
    overflow: hidden;
    position: relative;
    border-radius: 45px;
    border: 5px solid var(--primaryRed);  
}

.slide-wrapper .slide{
    width: 445px;
    height: 304px;
    border-radius: 40px;
    top: 0;
    left: 0;
    background: #000;
    visibility: hidden;
    opacity: 0;
    animation: slider 20s linear infinite;
    

}

.slide-wrapper .slide:nth-child(1){
    animation-delay: 0s;
}

.slide-wrapper .slide:nth-child(2){
    animation-delay: 4s;
}

.slide-wrapper .slide:nth-child(3){
    animation-delay: 8s;
}

.slide-wrapper .slide:nth-child(4){
    animation-delay: 12s;
}
.slide .info_img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border: none;
}

.info_img{
    width: 445px;
    height: 304px;
    border-radius: 40px;
    padding: 0;
    border: 5px solid var(--primaryRed);
}

@keyframes slider{
    0%
    {
        visibility: hidden;
        opacity: 0;
    }
    
    2%
    {
        visibility: visible;
        opacity: 1;
    }
    
    18%
    {
        visibility: visible;
        opacity: 1;
    }
    
    20%,100%
    {
        visibility: hidden;
        opacity: 0;
    }
}

.picture_note{
    padding-left: 140px;
    padding-top: 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}

.block_para{
    padding-left: 54px;
    width: 489px;
    height: 309px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    border-left: 2px solid var(--darkBrown);
    margin-left: 42px;
}

.dashline{
    position: relative;
    left: 315px;
    width: 358px;
    height: 2px;
    border-bottom: 2px dashed var(--darkBrown);
    margin-top: 40px;
}

.block.block2{
    margin-top: 31px;
    position: relative;
}

.block2.special .column1 img{
    width: 416px;
}
.block2.special .column2{
    top: 63px;
}
.column2{
    position: absolute;
    right: 30px;
}

.block.block3{
    margin-top: 84px;
    position: relative;
    margin-bottom: 180px;
}

.block3 .column1{
}


    


