.showtimes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showtimes__pageTitle_icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 340px;
}

.showtimes__pageTitle_line {
    margin: 0 12px;
    width: 30%;
    height: 2px;
    background-color: var(--darkBrown);
}

.showtimes__calendar-gridcontainer {
    margin: 12px auto;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    justify-content: center;
    gap: 1px;
    background-color: var(--darkBrown);
    width: calc(120px * 7);
}

.showtimes__calendar-gridcontainer > div {
    padding: 5px; 
    background-color: white;
    border-bottom: 1px solid var(--darkBrown);
}

.showtimes__calendar_grid-item {
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.showtimes__calendar_grid-item:hover {
    color: white;
    background-color: var(--darkBrown);
    border-radius: 12px;
    cursor: pointer;
}

.showtimes__calendar_grid-item p {
    font-size: 16px;
}

.showtimes__calendar_grid-item h1 {
    font-size: 24px;
    font-weight: 600;
}

.showtimes__filmSection {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.showtimes__filmSection > div {
    margin: 16px 0;
}

.showtimes__fimlSection_poster img {
    width: 296px;
    height: 430px;
    box-shadow: 1px 3px 5px;
    border-radius: 20px;
}

.showtimes__filmSection_description {
    width: 460px;
}

.showtimes__filmSection_description h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}

.showtimes__filmSection_description-list,
.showtimes__filmSection_description-filmType ul {
    list-style-type: none;
    max-width: 22em;
}

.showtimes__filmSection_description-list li {
    margin-bottom: 12px;
}

.showtimes_filmSection_description-list span:last-child {
    display: inline-flex;
    margin-left: 12px;
    max-width: 314px;
}

.showtimes__filmSection_description-filmType {
    width: 113px;
    background-color: var(--darkBrown);
    color: white;
    text-align: center;
    padding: 4px 0px;
    font-weight: 600;
    margin-top: 36px;
}

.showtimes__filmSection_times {
    max-height: 120px;
    width: 480px;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.showtimes__filmSection_timeBtn {
    background-color: white;
    color: var(--darkBrown);
    height: 46px;
    padding: 12px 25px;
    font-size: 20px;
    border: 2px solid var(--darkBrown);
    border-radius: 5px;
}

.showtimes__filmSection_timeBtn:hover {
    color: var(--primaryRed);
    border-color: var(--primaryRed);
    cursor: pointer;
}

/* RESPONSIVE */
/* Tablet */
@media (max-width: 1024px) {
    .showtimes__filmSection_description {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

/* Mobile */
@media (max-width: 740px) {
  .showtimes__calendar_outside {
    width: 80%;  
    overflow: hidden;
  }

  .showtimes__calendar-gridcontainer {
    width: 420px;
    overflow: scroll;
    justify-content: flex-start;
  }

  .showtimes__calendar_grid-item h1 {
    font-size: 18px;
  }

  .showtimes__calendar_grid-item p {
    font-size: 14px;
  }

  .showtimes__filmSection {
    width: 100%;
  }

  .showtimes__fimlSection_poster {
    display: flex;
    justify-content: center;
  }

  .showtimes__fimlSection_poster img {
    width: 90%;
  }

  .showtimes__filmSection_description {
    margin-top: 0px !important;
    width: 80%;
  }
  
  .showtimes__filmSection_description h1 {
    font-size: 28px;
  }

  .showtimes__filmSection_description-filmType {
    margin-top: 12px;
  }

  .showtimes__filmSection_times {
    width: 364px;
    gap: 8px;
    margin-top: 0px !important;
    justify-content: center;
  }

  .showtimes__filmSection_timeBtn {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }


}