.showtimes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showtimes__pageTitle_icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 340px;
}

.showtimes__pageTitle_line {
    margin: 0 12px;
    width: 30%;
    height: 2px;
    background-color: var(--darkBrown);
}

.showtimes__calendar-gridcontainer {
    margin: 12px auto;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    justify-content: center;
    gap: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    width: calc(120px * 7);
}

.showtimes__calendar-gridcontainer > div {
    padding: 5px; 
    background-color: white;
}

.showtimes__calendar_grid-item {
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}


.showtimes__calendar_grid-item p {
    font-size: 16px;
}

.showtimes__calendar_grid-item h1 {
    font-size: 24px;
    font-weight: 600;
}

.showtimes__filmSection {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    width: 80%;
}

.showtimes__filmSection > div {
    margin: 16px 0;
}

.showtimes__fimlSection_poster img {
    width: 296px;
    height: 430px;
    box-shadow: 1px 3px 5px;
    border-radius: 20px;
}

.showtimes__filmSection_description h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}

.showtimes__filmSection_description-list,
.showtimes__filmSection_description-filmType ul {
    list-style-type: none;
    max-width: 22em;
}

.showtimes__filmSection_description-list li {
    margin-bottom: 12px;
}

.showtimes_filmSection_description-list span:last-child {
    display: inline-flex;
    margin-left: 12px;
    max-width: 314px;
}

.showtimes__filmSection_description-filmType {
    width: 113px;
    background-color: var(--darkBrown);
    color: white;
    text-align: center;
    padding: 4px 0px;
    font-weight: 600;
    margin-top: 36px;
}

.showtimes__filmSection_times {
    max-height: 120px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}

.showtimes__filmSection_timeBtn {
    background-color: white;
    color: var(--darkBrown);
    height: 46px;
    padding: 12px 25px;
    font-size: 20px;
    border: 2px solid var(--darkBrown);
    border-radius: 5px;
    opacity: 85%;
}

.showtimes__filmSection_timeBtn:hover {
    color: var(--secondaryRed);
    border-color: var(--secondaryRed);
    opacity: 100%;
    cursor: pointer;
}